
<div class="body">
<div class="container">
    <div class="rightbox">
        <div class="leftbox">
          <h1 class="title-leftbox"><strong> RBB - Identificação</strong></h1>
        </div>

        <h2>Cadastre suas contas blockchain na RBB!</h2>
        <h3>(Associação com pessoa jurídica)</h3>

        <button  class="br-button primary" [routerLink]="['associa/admin']" type="button">
          Conta Admin de PJ <br>(requer e-CNPJ)
        </button>
        <br>
        <button  class="br-button primary" [routerLink]="['associa/regular']" type="button">
          Conta Autorizada pela PJ
        </button>
        <br>
        <button  class="br-button primary" [routerLink]="['validar']" type="button">
          Gerenciar Contas Cadastradas
        </button>
        <br>
        <button  class="br-button primary" [routerLink]="['associa/contas']" type="button">
          Listar Eventos
        </button>
        <br>
        <button  class="br-button primary" [routerLink]="['revalidar/contas']" type="button" title="Solicita revalidação de Conta Admin ou &#013;Autorizada já cadastrada, que esteja&#013; pausada, expirada, ou prestes a expirar.">
          Revalidar Conta
        </button>
        <br>
      
    </div>

</div>


</div>
