
<body>
<div class="container">
    <div class="rightbox">
        <br>
        <h2>Cadastre suas contas blockchain na RBB!</h2>
        <h3>(Associação com pessoa jurídica)</h3>
        <button class="content" class="nav-link" [routerLink]="['associa/admin']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" style="height: 20%; width: 70%; margin-top: 2%; font-size: 18px; line-height: 20px !important;" class="br-button primary" type="button">Cadastrar Conta Admin de PJ <br>(requer e-CNPJ)
        </button>
        <br>
        <button class="content" class="nav-link" [routerLink]="['associa/regular']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" style="height: 20%; width: 70%;  margin-top: 3%; font-size: 18px;" class="br-button primary" type="button">Cadastrar Conta Autorizada pela PJ
        </button>
        <br>
        <button class="content" class="nav-link" [routerLink]="['validar']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" style="height: 20%; width: 70%;  margin-top: 2%; font-size: 18px;" class="br-button primary" type="button">Gerenciar Contas Cadastradas
        </button>
        <br>
        <button class="content" class="nav-link" [routerLink]="['associa/contas']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" style="height: 20%; width: 70%;  margin-top: 3%; font-size: 18px;" class="br-button primary" type="button">Listar Contas Cadastradas (log de eventos)
        </button>
        <br>
    </div>

</div>
<div class="leftbox">
    <h1>RBB - Identificação</h1>
</div>

</body>
