<div class="body">
  <div class="container">
    <div class="rightbox">
      <div class="leftbox">
        <h1 class="title-leftbox"><strong> RBB - Identificação</strong></h1>
      </div>

      <h2>Cadastre suas contas blockchain na RBB!</h2>
      <h3>(Associação com pessoa jurídica)</h3>

      <button class="br-button primary  adminbutton" [routerLink]="['associa/admin']" type="button">
        Criar ID Admin para PJ <br />(requer e-CNPJ)
      </button>
      <br />
      <button class="br-button primary regularbutton" [routerLink]="['associa/regular']" type="button">
        Criar ID Autorizado pela PJ
      </button>
      <br />
      <button class="br-button primary gerenciarbutton" [routerLink]="['validar']" type="button">
        Gerenciar identidades
      </button>
      <br />
      <button class="br-button primary listabutton" [routerLink]="['associa/contas']" type="button">
        Listar Eventos
      </button>
      <br />
      <button class="br-button primary validarbutton" [routerLink]="['revalidar/contas']" type="button">
        Revalidar ID
      </button>
      <br />
    </div>
  </div>
</div>
