
@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

.body{
    background-color: #268744;
    width: 100%;
    height: 840px;
    padding-top: 10px;
    top: 0%;
  }


.container {
  background: #FFFFFF;
  margin-left: 30%;
  margin-right: 20%;
  position: relative;
  margin-top: 4%;
  box-shadow: 2px 5px 20px rgba(#070707, .5);
  border: 0.1px solid rgb(0, 0, 0);
  height: fit-content;
  width: 40%;
}


.leftbox h1 {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
    font-size: 120%;
}

.leftbox {
  top: -5%;
  left: 10%;
  position: absolute;
  offset: top;
  width: 80%;
  height: 9%;
  background-color:#071d41;
  box-shadow: 1px 3px 5px #070707;
}


.rightbox {
  padding-top: 2%;
  padding-bottom: 25px;
  width: 100%;
  height:fit-content;
  text-align: center;
}

h2 {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 35px;
  margin-bottom: 2px !important;
}

h3 {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 0px;
  margin-bottom: 50px;
}

.br-button{
  width: 55%;
  height: 55px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20px;
  line-height: 17px;
  font-size: 85%;
  position: relative;
}

.adminbutton:hover:after {
  content: "Cadastra uma conta blockchain para administrar a identidade e as contas autorizadas a representar a PJ. ATENÇÂO: É necessário utilizar o e-CNPJ para executar esta função.";
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  position: absolute;
  top: 55%;
  left: 85%;
  width: fit-content;
  height: fit-content;
  background-color: #071d41ef;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  z-index: 1;
}

.regularbutton:hover:after {
  content: "Cadastra uma conta blockchain autorizadas a representar a PJ. A ID criada precisa ser validada por um ID Admin da PJ.";
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  position: absolute;
  top: 55%;
  left: 85%;
  width: fit-content;
  height: fit-content;
  background-color: #071d41ef;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  z-index: 1;
}

.gerenciarbutton:hover:after {
  content: " Acesse o painel de controle para verificar o status das IDs, e acessar as funções para validar, invalidar, pausar e reativar IDs, ou pausar uma PJ.";
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  position: absolute;
  top: 55%;
  left: 85%;
  width: fit-content;
  height: fit-content;
  background-color: #071d41ef;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  z-index: 1;
}

.listabutton:hover:after {
  content: "Verifique todos os eventos relacionados á gestão das IDs na RBB registrados na blockchain.";
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  position: absolute;
  top: 55%;
  left: 85%;
  width: fit-content;
  height: fit-content;
  background-color: #071d41ef;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  z-index: 1;
}

.validarbutton:hover:after {
  content: "Solicita revalidação de ID Admin ou ID Autorizado já cadastrado, que esteja pausado, expirado ou prestes a expirar. Não é possível revalidar um ID com status Invalidado.";
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  position: absolute;
  top: 55%;
  left: 85%;
  width: fit-content;
  height: fit-content;
  background-color: #071d41ef;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  z-index: 1;
}

