
@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

.body{
    background-color: #268744;
    width: 100%;
    height: 840px;
    padding-top: 10px;
    top: 0%;
  }


.container {
  background: #FFFFFF;
  margin-left: 30%;
  margin-right: 20%;
  position: relative;
  margin-top: 4%;
  box-shadow: 2px 5px 20px rgba(#070707, .5);
  border: 0.1px solid rgb(0, 0, 0);
  height: 75%;
  width: 40%;
  padding-bottom: 60px;
}


.leftbox h1 {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
    font-size: 120%;
}

.leftbox {
  top: -5%;
  left: 10%;
  position: absolute;
  offset: top;
  width: 80%;
  height: 9%;
  background-color:#071d41;
  box-shadow: 1px 3px 5px #070707;
}


.rightbox {
  padding-top: 2%;
  padding-bottom: 25px;
  width: 100%;
  height: 100%;
  text-align: center;
}

h2 {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 35px;
  margin-bottom: 2px !important;
}

h3 {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 0px;
  margin-bottom: 50px;
}

.br-button{
  width: 55%;
  height: 15%;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 0%;
  padding-right: 0%;
  margin-bottom: 20px;
  line-height: 17px;
  font-size: 85%;
}

