
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding-top: 20%;
  margin-bottom: 30px;
  font-style: bold;
  font-weight: 400;
}

h2 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  
}

body{
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.minhagrid{
  margin: auto;
  width: 100px;
  display: grid;
  grid-template-columns:  1fr 1fr ;
  grid-column-gap: 5px;
}

.c1{
  background: yellow;
  height: 100px;

}
.c2{
  background: red;
  height: 100px;

}
