
<body>
    <div class="blur"></div>
    <div class="container">
        <h1>RBB ID</h1>
        <h2>Confiança e segurança nas suas operações digitais.</h2>
        <h2>Crie a identidade digital da sua empresa na blockchain.</h2>
        <button class="content" class="nav-link" [routerLink]="['home']" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}" style="height: 20%; width: 25%;  margin-top: 3%; margin-left: 38%;  font-size: 18px; text-align: center;" class="br-button primary" type="button">Faça agora a sua!
        </button>
        
    </div> 
</body>