<div  style="position: absolute; left: 0; z-index: 999; " class="col-sm-6 col-lg-4 col-xl-3">
    <div class="br-menu">
        <nav class="folders">
          <div class="folder">
            <ul>
              <li><a class="item">
                  <div class="content">Acompanhe o Planalto</div>
                  <div class="support"><i class="fas fa-angle-right"></i></div></a>
                <ul>
                  <li><a class="item">
                      <div class="content">Notícias</div></a></li>
                  <li><a class="item">
                      <div class="content">Agenda do Presidente</div></a></li>
                  <li><a class="item">
                      <div class="content">Agenda do Presidente em exercício</div></a></li>
                  <li><a class="item">
                      <div class="content">Discursos</div></a></li>
                  <li><a class="item">
                      <div class="content">Pronunciamentos</div>
                      <div class="support"><i class="fas fa-angle-right"></i></div></a>
                    <ul>
                      <li><a class="item">
                          <div class="content">Pronunciamentos do Presidente da República</div></a></li>
                    </ul>
                  </li>
                  <li><a class="item">
                      <div class="content">Notas Oficiais</div>
                      <div class="support"><i class="fas fa-angle-right"></i></div></a>
                    <ul>
                      <li><a class="item">
                          <div class="content">2019</div></a></li>
                      <li><a class="item">
                          <div class="content">2020</div></a></li>
                    </ul>
                  </li>
                  <li><a class="item">
                      <div class="content">Notas e Comunicados</div>
                      <div class="support"><i class="fas fa-angle-right"></i></div></a>
                    <ul>
                      <li><a class="item">
                          <div class="content">Boletins</div></a></li>
                      <li><a class="item">
                          <div class="content">Nota à imprensa</div></a></li>
                    </ul>
                  </li>
                  <li><a class="item">
                      <div class="content">Entrevistas</div></a></li>
                  <li><a class="item">
                      <div class="content">Foto Oficial</div>
                      <div class="support"><i class="fas fa-angle-right"></i></div></a>
                    <ul>
                      <li><a class="item">
                          <div class="content">Fotos</div></a></li>
                    </ul>
                  </li>
                  <li><a class="item">
                      <div class="content">Área de Imprensa</div>
                      <div class="support"><i class="fas fa-angle-right"></i></div></a>
                    <ul>
                      <li><a class="item">
                          <div class="content">Contatos dos Assessores de Imprensa e Comunicação do Governo</div></a></li>
                      <li><a class="item">
                          <div class="content">Sobre a Secretaria de Imprensa</div></a></li>
                      <li><a class="item">
                          <div class="content">Credenciamento de Imprensa</div></a></li>
                    </ul>
                  </li>
                  <li><a class="item">
                      <div class="content">Porta-voz</div></a></li>
                  <li><a class="item">
                      <div class="content">Whatsapp</div></a></li>
                </ul>
              </li>
              <li><a class="item">
                  <div class="content">Conheça a Presidência</div>
                  <div class="support"><i class="fas fa-angle-right"></i></div></a>
                <ul>
                  <li><a class="item">
                      <div class="content">Biografia do Presidente</div></a></li>
                  <li><a class="item">
                      <div class="content">Biografia do Vice Presidente</div></a></li>
                  <li><a class="item">
                      <div class="content">Palácios e Residências</div>
                      <div class="support"><i class="fas fa-angle-right"></i></div></a>
                    <ul>
                      <li><a class="item">
                          <div class="content">Palácio do Planalto</div></a></li>
                      <li><a class="item">
                          <div class="content">Palácio da Alvorada</div></a></li>
                      <li><a class="item">
                          <div class="content">Granja do Torto</div></a></li>
                      <li><a class="item">
                          <div class="content">Programas de visitação</div></a></li>
                      <li><a class="item">
                          <div class="content">Palácio do Jaburu</div></a></li>
                      <li><a class="item">
                          <div class="content">Palácio do Jaburu - old</div></a></li>
                    </ul>
                  </li>
                  <li><a class="item">
                      <div class="content">Agende sua visita ao Palácio do Planalto</div></a></li>
                  <li><a class="item">
                      <div class="content">Ritos e Solenidades</div></a></li>
                  <li><a class="item">
                      <div class="content">Principais Tropas</div></a></li>
                  <li><a class="item">
                      <div class="content">Acervo</div>
                      <div class="support"><i class="fas fa-angle-right"></i></div></a>
                    <ul>
                      <li><a class="item">
                          <div class="content">Símbolos Nacionais</div></a></li>
                      <li><a class="item">
                          <div class="content">Constituição Federal</div></a></li>
                      <li><a class="item">
                          <div class="content">Legislação</div></a></li>
                      <li><a class="item">
                          <div class="content">Galeria de Presidentes</div></a></li>
                      <li><a class="item">
                          <div class="content">Biblioteca da Presidência</div></a></li>
                    </ul>
                  </li>
                  <li><a class="item">
                      <div class="content">Ministros</div>
                      <div class="support"><i class="fas fa-angle-right"></i></div></a>
                    <ul>
                      <li><a class="item">
                          <div class="content">Casa Civil da Presidência da República</div></a></li>
                      <li><a class="item">
                          <div class="content">Secretaria de Governo da Presidência da República</div></a></li>
                      <li><a class="item">
                          <div class="content">Gabinete de Segurança Institucional</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Justiça e Segurança Pública</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Defesa</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério das Relações Exteriores</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Economia</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Infraestrutura</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Agricultura</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Educação</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Infraestrutura</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Mulher, Família e Direitos Humanos</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Cidadania</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Saúde</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Minas e Energia</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério da Ciência, Tecnologia, Inovações e Comunicações</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério do Meio Ambiente</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério do Turismo</div></a></li>
                      <li><a class="item">
                          <div class="content">Ministério do Desenvolvimento Regional</div></a></li>
                      <li><a class="item">
                          <div class="content">Controladoria-Geral da União (CGU)</div></a></li>
                      <li><a class="item">
                          <div class="content">Advocacia-Geral da União (AGU)</div></a></li>
                      <li><a class="item">
                          <div class="content">Banco Central</div></a></li>
                      <li><a class="item">
                          <div class="content">Secretaria-Geral da Presidência da República</div></a></li>
                    </ul>
                  </li>
                  <li><a class="item">
                      <div class="content">Presentes recebidos pelo Presidente da República</div></a></li>
                </ul>
              </li>
              <li><a class="item">
                  <div class="content">Mensagem presidencial</div>
                  <div class="support"><i class="fas fa-angle-right"></i></div></a>
                <ul>
                  <li><a class="item">
                      <div class="content">Inicial</div></a></li>
                  <li><a class="item">
                      <div class="content">Estado melhor</div></a></li>
                  <li><a class="item">
                      <div class="content">Políticas melhores</div></a></li>
                  <li><a class="item">
                      <div class="content">Resultados melhores</div></a></li>
                </ul>
              </li>
              <li><a class="item">
                  <div class="content">Vice-Presidência</div>
                  <div class="support"><i class="fas fa-angle-right"></i></div></a>
                <ul>
                  <li><a class="item">
                      <div class="content">Agenda Vice-Presidente</div></a></li>
                  <li><a class="item">
                      <div class="content">Agendas do Gabinete Pessoal da Vice-Presidência</div></a></li>
                  <li><a class="item">
                      <div class="content">CNAL</div></a></li>
                  <li><a class="item">
                      <div class="content">Notícias</div></a></li>
                  <li><a class="item">
                      <div class="content">Artigos</div></a></li>
                  <li><a class="item">
                      <div class="content">Discursos e Pronunciamentos</div>
                      <div class="support"><i class="fas fa-angle-right"></i></div></a>
                    <ul>
                      <li><a class="item">
                          <div class="content">Discurso do presidente da República em exercício, Hamilton Mourão, durante evento dos 356 anos dos Correios e homenagem ao Dia do Carteiro</div></a></li>
                    </ul>
                  </li>
                  <li><a class="item">
                      <div class="content">Agenda Atribuições</div></a></li>
                </ul>
              </li>
              <li><a class="item">
                  <div class="content">Acesso à Informação</div>
                  <div class="support"><i class="fas fa-angle-right"></i></div></a>
                <ul>
                  <li><a class="item" disabled>
                      <div class="content">Institucional</div>
                      <div class="support"><i class="fas fa-angle-right"></i></div></a>
                    <ul>
                      <li><a class="item">
                          <div class="content">Estrutura da Presidência</div></a></li>
                      <li><a class="item">
                          <div class="content">Atribuições do Gabinete Pessoal</div></a></li>
                      <li><a class="item">
                          <div class="content">Horários de atendimento do órgão</div></a></li>
                      <li><a class="item">
                          <div class="content">Presidência</div></a></li>
                      <li><a class="item">
                          <div class="content">Comitê de Governança Digital</div></a></li>
                    </ul>
                  </li>
                  <li><a class="item">
                      <div class="content">Ações e Programas</div></a></li>
                  <li><a class="item">
                      <div class="content">Dados abertos</div></a></li>
                  <li><a class="item">
                      <div class="content">Auditorias</div></a></li>
                  <li><a class="item">
                      <div class="content">Convênios</div></a></li>
                  <li><a class="item">
                      <div class="content">Despesas</div></a></li>
                  <li><a class="item">
                      <div class="content">Licitações e contratos</div></a></li>
                  <li><a class="item">
                      <div class="content">Servidores</div></a></li>
                  <li><a class="item">
                      <div class="content">Informações Classificadas</div></a></li>
                  <li><a class="item">
                      <div class="content">Serviços de Informação ao Cidadão</div></a></li>
                </ul>
              </li>
              <li><a class="item">
                  <div class="content">Centrais de Conteúdo</div>
                  <div class="support"><i class="fas fa-angle-right"></i></div></a>
                <ul>
                  <li><a class="item">
                      <div class="content">Imagens</div></a></li>
                  <li><a class="item">
                      <div class="content">Videos</div></a></li>
                  <li><a class="item">
                      <div class="content">Áudios</div></a></li>
                </ul>
              </li>
              <li><a class="item">
                  <div class="content">Fale Conosco</div>
                  <div class="support"><i class="fas fa-angle-right"></i></div></a>
                <ul>
                  <li><a class="item">
                      <div class="content">Fale com o Presidente</div></a></li>
                  <li><a class="item">
                      <div class="content">Ouvidoria</div></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
</div>
