
@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

body{
  background-color: #268744;
  width: 100vw;
  top: 0%;
  height: max-content;
  display: flex;

}


.container {
  background: #FFFFFF;
  margin-left: 15%;
  margin-top: 5%;
  margin-right: 16%;
  box-shadow: 2px 5px 20px rgba(#070707, .5);
  border: 0.1px solid rgb(0, 0, 0);
  margin-bottom: 15%;
  height: 400px ;
  position: relative;
}

.containerResize{
  height: fit-content ;
}

.leftbox {
  position: absolute;
  width: 70%;
  height: 90px;
  background:#071d41;
  box-shadow: 1px 3px 5px #070707;
  offset: top;
  top: -30px;
  left: -50px;
}

.title-leftbox{
  color: rgb(255, 255, 255);
  font-size: 140%;
  padding-left: 20px;
}

.rightbox {
  padding-top: 10%;
  padding-left: 5%;
  width: 100%;
}

.rightbox .br-button{
  margin-left: 35% !important;
  justify-content: center;
  width: 30%;
  height: 20%;
  font-size: 120%;
  padding: 10px ;
  justify-content: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #4c73f5;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.noshow {
  opacity: 0;
}

.br-input {
  width: 75%;
  margin-bottom: 15px;
}

.label{
  padding-left: 5px;
}

.disabledButton{
  background: #ffffff00;
  border-color: #1351b460;
  color: #1351b460;
  cursor:not-allowed !important;
  pointer-events: none;
}

.color-danger{
  background-color: #e600001f !important;
  border-color: #e60000 !important;
  color:  #e60000 !important;
}

.color-success{
  background-color:  #1688211f !important;
  border-color: #168821 !important;
  color:#168821 !important;
}

.text-danger{
  color:  #e60000 !important;
}

.text-sucess{
  color:#168821 !important;
}


.declaracao {
  margin-bottom: 15px;
}

.imgDeclaracao {
  width: 40px;
}

.fa-check {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

.conteudo {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px
}

.refreshContaBlockchain {
  margin-top: 35px;
}
