
#maincard{
    box-shadow: 5px -9px 3px #000;
  }
  
  #box{
    width: 50%;
  }
  
  #test{
    max-width: 100%;
  }
  
  
  body,
          html {
              margin: 0;
              padding: 0;
              height: 100%;
              
              
      
          }
          #bg {
            position: absolute; 
            background-size: cover;
            left: 0; 
            top: 100px;
            right: 0;
            min-width: 100%; 
            max-width: 100%;
            max-height: 150%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            
          }
          .user_card {
              height: 520px;
              width: 480px;
              margin-top: auto;
              margin-bottom: auto;
              background: #ffffff;
              position: relative;
              display: flex;
              justify-content: center;
              flex-direction: column;
                padding: 10px;
              box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              -webkit-box-shadow: 0px 25px 17px 0px rgba(0, 0, 0, 0.2), 0 17px 20px 0px rgba(0, 0, 0, 0.19);
              -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              border-radius: 5px;
              border: 1px solid black;
  
          }
          .brand_logo_container {
              position: absolute;
              height: 200px;
              width: 200px;
              top: -110px;
              border-radius: 50%;
              background: #ffffff;
              padding: 10px;
              text-align: center;
              border-top: 0.1px solid #000;
              
          }
          .brand_logo {
              height: 170px;
              width: 170px;
              
          }
          .form_container{
                margin-top: 9px;
                margin-bottom: 120px;
          }
          
          .login_container {
              padding: 0 2rem;
  
          }
          .input-group-text {
              background: #034d9f !important;
              color: white !important;
              border: 0.1px solid black !important;
              border-radius: 0.25rem 0 0 0.25rem !important;
              width: 45px;
      }
          .input_user,
          .input_pass:focus {
              box-shadow: none !important;
              outline: 0px !important;
          }
          .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
              background-color: #00a651 !important;
              width: 1000px;
      }
      #name{
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: 'rawline', sans-serif;
        font-size: 40px;
        padding-top: 10px; 
        padding-bottom: 1px;
        text-shadow: 2px 2px 1px #0000;
        font-weight: 700;
        font-style: bold;
        
      }
      
      #normal-text{
          font-family: 'rawline', sans-serif;
          text-align: center;
          color: rgb(0, 0, 0);
          font-size: 27px;
          font-weight: 300;
            font-style: italic;
      }
  
      #inputbox{
          width: 200px;
          max-width: 350px;
          display: inline-block;
          font-size:20px;
          font-weight: 200px;
          height: 100%;
          font-family: 'rawline', sans-serif;
      }

      #inputbox:hover{
        background-color: rgba(243, 241, 241, 0.753);
        border: 2px solid rgb(0, 0, 0);
      }
     
      .input-group{
        padding-left: 30px;
        padding-right: 30px;
        height: 35%;
      }
      #hashtag{
        color: rgb(255, 255, 255);
        padding-left: 3px;
      }
      
      .br-button {
          cursor: pointer;
          font-weight: 600px;
          font-size: 24px;
          font-family: 'rawline', sans-serif;
          height: 60px;
          line-height: 55px;
          text-align: center;
          width: 100%;
          transition-duration: 0.4s;

        }
  
      hr.rounded {
          border-top: 1px solid rgb(0, 0, 0);
          border-radius: 0.4px;
        }
        
        .br-input {
          position: relative;
        }
        
        .br-input label {
          display: inline-block;
          padding-bottom: 4px;
        }
        
        .br-input input {
          background: var(--color-secondary-01);
          border: 1px solid #888;
          border-radius: 6px;
          display: block;
          min-height: 40px;
          padding-left: 20px;
          padding-right: 0px;
          height: 60px;
          width: 90%;
          font-size: 20px;
        }
        
        .br-input input:focus {
          background: var(--status-focused-background) linear-gradient(var(--status-focused-overlay), var(--status-focused-overlay));
        }
        
        .br-input input:focus {
          outline: none;
        }
        
        .br-input input[disabled] {
          color: var(--color-secondary-06);
          background-color: var(--color-secondary-03);
          border: 1px solid var(--color-secondary-06);
        }
        
        .br-input input[disabled] ~ button.icon {
          color: var(--color-secondary-06);
          cursor: not-allowed;
        }
        
        .br-input input[disabled] ~ .help {
          display: none;
        }
        
        .br-input button.icon {
          background: transparent;
          border: 0;
          bottom: 0;
          font-size: 1rem;
          height: 40px;
          margin: 0;
          min-width: 0;
          padding: 0 16px;
          position: absolute;
          right: 0;
          width: auto;
          top: 1.5em;
          color: var(--color-primary-default);
          outline: none;
        }
        
        .br-input button.icon img {
          max-width: 24px;
          min-width: 24px;
          transform: translate(0, -4px);
        }
        
        .br-input button.icon:focus, .br-input button.icon:hover {
          color: var(--color-primary-lighten-01);
        }
        
        .br-input ~ .help {
          font-size: var(--font-size-scale-down-01);
        }
        
        .br-input[valid] input {
          border: 2px solid var(--color-success);
        }
        
        .br-input[valid] button.icon {
          color: var(--color-success);
        }
        
        .br-input[invalid] input {
          border: 2px solid var(--color-danger);
        }
        
        .br-input[invalid] button.icon {
          color: var(--color-danger);
        }
        
        .br-input[filter] {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        
        .br-input[filter] label {
          white-space: nowrap;
          margin-right: 16px;
        }
        
        .br-input[filter] input {
          min-height: 32px;
        }