<div style="position: absolute; background-color: #268744; width: 100%; height: 151%; top: 13.2%; "></div>
<body>
<div class="container">    
    <div class="rightbox">
        <h1 style="font-size: 120%;" >Associar Conta Blockchain ao e-CNPJ</h1>
        <div class="br-input">
            <label>CNPJ do Cliente:</label>
            <input name="cnpjWithMask" />
        </div>
            
        <div class="br-input">
            <label>Razão Social:</label>
            <input name="razaoSocial"  readonly  disabled/>
        </div>
        
        <div class="br-input">
            <label>Selecione a conta blockchain desejada no Metamask. A conta deve aparecer no estado "Disponível".</label>
            <input name="contaBlockchain" class="form-control form-control-sm" type="text" [ngModel]="selectedAccount" readonly
            disabled size="45">
        </div>

        <h1 style="font-size: 120%; padding-top: 5%;">Upload de Declaração</h1>
        <label>1. Upload da declaração de propriedade e responsabilidade sobre conta blockchain, assinada com o e-CNPJ.</label>
        <div class='darkblue'>
            {{declaracao}}
        </div> 
        <label>2. Preencha a declaração no Word com os dados da sua instituição e salve o documento como PDF</label>
        <label>3. Clique <a target="_blank"  href="">aqui</a> para baixar o Roteiro para Assinatura Digital</label>
        <label>4. Siga as instruções para assinar o PDF da declaração com seu e-CNPJ, e gerar um novo PDF assinado digitalmente</label>
        <label>5. Faça upload do PDF da Declaração assinado digitalmente</label>
        
        <!-- seletor de arquivo   <input ng2FileSelect id="arquivo" type="file" accept=".pdf" [uploader]="this.fileHandleService.uploader" (change)="this.fileHandleService.chamaUpload()" /> -->
        <div class="msg-hash-declaracao" *ngIf="hashdeclaracao">
            Hash da Declaração: {{hashdeclaracao}}
        </div>
    </div>
    <button style="height: 5%; width: 30%;  margin-top: 10%; margin-left: 60%;  font-size: 21px;" class="br-button primary" type="button">Associar
    </button>
</div>
<div class="leftbox">
    <h1>Associação de Administradores</h1>
</div>

</body>
