
    <body>

    <div  style="position: absolute;  width: 100%;" class="text-center">
        <alert></alert>
    </div>

    <div  [ngClass]="{'containerResize' : cliente.dadosCadastrais}"  class="container">    
        <div class="rightbox">
            <h1 style="font-size: 120%;" >Associar Conta Blockchain ao e-CNPJ</h1>
            <div class="br-input">
                <label>Informe o CNPJ:</label>
                <input name="cnpjWithMask" mask="00.000.000/0000-00" [(ngModel)]="cliente.cnpjWithMask"  class="form-control form-control-sm" (input)="changeCnpj()" 
                required [disabled]="this.flagUploadConcluido" />
            </div>
                
            <div class="br-input" *ngIf='cliente.dadosCadastrais'>
                <label>Razão Social:</label>
                <input name="razaoSocial" class="form-control form-control-sm" [(ngModel)]="cliente.dadosCadastrais.razaoSocial" readonly  disabled/>
            </div>
            
            <div class="br-input" *ngIf='cliente.dadosCadastrais'>
                <label>Selecione a conta blockchain desejada no Metamask. A conta deve aparecer no estado "Disponível".</label>
                <input name="contaBlockchain" class="form-control form-control-sm" type="text" [ngModel]="selectedAccount" readonly
                disabled size="45">
                <div class="msg-conta-invalida" >
                    {{contaEstaValida}}
                </div>
            </div>

        
            <div class="conteudo form-group" *ngIf='cliente.dadosCadastrais' >

                <div class="row">
                <div class="form-group col-md-12 col-sm-12">
                    <p>Procedimento de Declaração</p>
                </div>
                </div>
                <div class="row">
                <div class="form-group col-md-10 col-sm-10 ">
                    <label>1. Antes de começar, certifique-se que você tem o <b>Adobe Reader</b> instalado em sua máquina. Caso não tenha, clique <a target="_blank" href="https://get2.adobe.com/br/reader/">aqui</a> para instalar</label>
                    <br>              
                </div>
                </div>
                <div class="row">
                <div class="form-group col-md-10 col-sm-10">
                    <label>2. Clique <a target="_blank" href="{{fileHandleService.getCaminhoRoteiroAssinaturaDigital()}}">aqui</a> para ler o <b>Roteiro de Instruções</b> para essa etapa. </label>
                </div>
                </div>  
                <div class="row">
                <div class="form-group col-md-10 col-sm-10">
                    <label>3. Clique no botão abaixo para <b>salvar localmente</b> a Declaração de Propriedade e Responsabilidade sobre Conta Blockchain, e abrir com o Adobe Reader.</label>            
                    <button type="button" placement="bottom" ngbTooltip="Baixar declaracao" (click)="createPdf()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Baixar declaração
                    </button>
                </div>
                </div>     
                
                <div class="row">
                <div class="form-group col-md-10 col-sm-10">
                    <label>4. Seguindo as instruções do Roteiro, <b>assine a declaração digitalmente com seu e-CNPJ</b> conectado ao computador. </label>
                </div>
                </div>  
        
                
        
                <div class="row">                 
                <div class="form-group col-md-10 col-sm-10">
                    <label>5. Clique no botão abaixo para <b>fazer upload do PDF</b> da Declaração assinado digitalmente. </label>
                </div>
                <div class="form-group col-md-10 col-sm-10">
                    <input ng2FileSelect id="arquivo" type="file" accept=".pdf" [uploader]="this.fileHandleService.uploader" (change)="this.fileHandleService.chamaUpload()" /> 
                    <div class="msg-hash-declaracao" *ngIf="hashdeclaracao">
                        Hash da Declaração: {{hashdeclaracao}}
                    </div>
                </div>              
                </div>    
            
            </div>
           <button style="height: 5%; 
                           margin-top: 2%;
                           margin-left: 30%;
                           font-size: 21px;
                           height: 50px;
                           width: 300px;" 
            class="br-button primary" type="button" (click)="associarContaCliente()" *ngIf='cliente.dadosCadastrais'>Associar
            </button>
        </div>
    <div>
     
    </div>
    </div>

    <div class="leftbox">
        <h1>Associação de Representante Administrador</h1>
    </div>

    </body>
