<div class="body">
  <div class="container text-center">
    <alert></alert>
  </div>
  <!-- testedockerhub -->
  <div class="container-fluid">
    <div class="br-table is-datatable" id="datatable-default">
      <div class="header">
        <div class="top-bar">
          <div style="border: 0.1px solid rgba(240, 248, 255, 0.459);" class="search-bar is-active ">
            <div style="font-size: 26px; color: aliceblue;" class="title">Lista de Eventos</div>
            <div class="divisor"></div>
            <i style="font-size: 25px; padding-right: 39px; padding-left: 6px; color: aliceblue;"
              class="fas fa-search"></i>

            <div class="br-input search-input is-medium has-icon">
              <label for="datatable-default-search-input">Buscar</label>
              <input matInput class="search-input is-medium has-icon" id="datatable-default-search-input"
                (keyup)="applyFilter($event)" type="text" placeholder="Buscar na tabela" #input>

            </div>
          </div>
        </div>
      </div>

      <div id="tabela" class="mat-elevation-z8 responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 responsive">

          <ng-container matColumnDef="rbbid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RBB ID </th>
            <td mat-cell *matCellDef="let row"> {{row.RBBId}} </td>
          </ng-container>

          <ng-container matColumnDef="cnpj">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CNPJ </th>
            <td mat-cell *matCellDef="let row"> {{row.cnpj | mask: '00.000.000/0000-00' }} </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Blockchain Address </th>
            <td mat-cell *matCellDef="let row"> {{row.contaBlockchain}} </td>
          </ng-container>

          <ng-container matColumnDef="perfil">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Papel </th>
            <td mat-cell *matCellDef="let row"> {{row.perfil}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Razão Social </th>
            <td mat-cell *matCellDef="let row"> {{row.razaoSocial}} </td>
          </ng-container>

          <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data e hora </th>
            <td mat-cell *matCellDef="let row"> {{row.dataHora}} </td>
          </ng-container>

          <ng-container matColumnDef="hashDeclaracao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hash documento </th>
            <td mat-cell *matCellDef="let row"> {{row.hashDeclaracao}} </td>
          </ng-container>

          <ng-container matColumnDef="evento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Evento </th>
            <td mat-cell *matCellDef="let row"> {{row.evento}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
            <td style="text-align: center; font-weight: 550; font-size: 16px; " mat-cell *matCellDef="let row">
              {{row.status}} <span *ngIf='row.pausada'>e Pausada</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="declaracao">
            <th mat-header-cell *matHeaderCellDef> Declaração </th>
            <td style="text-align: center; font-weight: 550; font-size: 16px; " mat-cell *matCellDef="let row">
              <span *ngIf='row.filePathAndName'><a href="{{row.filePathAndName}}" target="_blank">Arquivo</a></span>
              <span *ngIf='!row.filePathAndName'>-</span>
            </td>
          </ng-container>


          <ng-container matColumnDef="explorer">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td style="text-align: center;" mat-cell *matCellDef="let row">
              <a href="#{{row.uniqueIdentifier}}">
                <button class="br-button search-trigger is-circle is-terciary" type="button">
                  <i style="font-size: 30px; padding-top: 8.4px;" class="fas fa-address-book"></i>
                </button>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


          <tr class="mat-row" *matNoDataRow>
            <!--<td *ngIf='(animationLoad)' class="mat-cell" colspan="6" style="padding-left: 45%; padding-right: 30%;"> <div class="c-loader" ></div></td>-->
          <td style="padding-left: 20px;"><div *ngIf='(animationLoad)' class="c-loader" ></div></td>
          <td *ngIf='!(animationLoad)' class="mat-cell" colspan="6">Nenhum resultado encontrado" {{input.value}} "</td>
          </tr>
        </table>
      </div>
      <div class="footer">
        <mat-paginator [pageSizeOptions]="[15, 25, 50]"></mat-paginator>
      </div>

    </div>
  </div>
</div>
