
  .body{
    background-color: #268744;
    width: 100%;
    top: 0%;
  }


.container-fluid{
    padding-top: 30px;
    max-width: 80%;
    padding-bottom: 60px;
    padding-left: 2%;
    padding-right: 2%;
}


.br-table table th {
  font-weight: 550;
  font-size: 16px;
}

.br-table table td {
  color: #000000;
  font-weight: 400;
}

#tabela{
  padding-top: 57px;
}


#tabela table{
  width: 100%;
}


.search-bar{
  background-color: #071d41;
}



#searchbtn:hover{
  background-color: var(--color-primary-pastel-02, #dbe8fb);
  cursor: pointer;
}

mat-paginator{
   background-color: rgb(237, 237, 237);
   color: rgb(12, 50, 111);
}



.header{
  width: 100%;
}

.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.mat-cell{
    height: 50px;
}

.mat-row,
.mat-header-row {
    display: table-row;
}

th
{
  color: #ffffff;
  background-color: #2D73C3;
}


::ng-deep .mat-select-value {
  color: #2D73C3;
}
::ng-deep .mat-select-arrow {
  color: #2D73C3;
}

.valid {
  background-color: #0edd1870;
}

.invalid {
  background-color: #b30e0e70;
}




.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color:rgb(12, 50, 111);
  height: 40px;
  width: 40px;
  
  margin-top: 5px;
  margin-bottom: 5px;
  
  
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}